<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="application/javascript">
        jQuery(document).ready(function(e) {
            jQuery('#order-form').submit(function (e) {
                e.preventDefault();

                jQuery.ajax({
                    type: 'PUT',
                    url: 'http://localhost:7050/customers',
                    data: jQuery('#order-form').serializeArray(),
                    success: function() {
                        console.log('done');
                        window.location.reload(true);
                    }
                });

                return false;
            });
        });
    </script>
</head>
<body>
    <h1>Welcome to the Rewards Dashboard</h1>
    <div>
        <h2>Reward Tiers</h2>
        <table border="1">
            <tr>
                <th>Rewards Tier<th>
                <th>Reward Points</th>
                <th>Rewards Tier Name</th>
            </tr>
            {% for reward in rewards_data %}
                <tr>
                    <td>{{ reward.tier }}<td>
                    <td>{{ reward.points }}</td>
                    <td>{{ reward.rewardName }}</td>
                </tr>
            {% endfor %}
        </table>
        <hr>
    </div>
    <div>
        <h2>Add orders</h2>
        <form id="order-form">
            <label for="email">Enter email address: </label><input name="email" id="email" type="email" required/><br>
            <label for="total">Enter order total: </label><input name="total" id="total" min="0" step="0.01" type="number" required/>
            <input type="submit" id="submit-order" value="Submit Order"/>
        </form>
        <hr>
    </div>
    <div>
        <h2>User Rewards</h2>
        <form method="get">
            <label for="search">Email address: </label><input id="search" name="s" value="{{ search_term }}" type="text"/><input type="submit" value="Search"/>
        </form>
        <table border="1">
            <thead>
            <tr>
                <th>Email Address</th>
                <th>Reward Points</th>
                <th>Reward Tier</th>
                <th>Reward Tier Name</th>
                <th>Next Reward Tier</th>
                <th>Next Reward Tier Name</th>
                <th>Next Reward Tier Progress</th>
            </tr>
            </thead>
            <tbody>
            {% for customer in customers_data %}
                <tr>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.points }}</td>
                    <td>{{ customer.tier }}</td>
                    <td>{{ customer.rewardName }}</td>
                    <td>{{ customer.nextTier }}</td>
                    <td>{{ customer.nextRewardName }}</td>
                    <td>{{ customer.nextTierProgress }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>